env/
venv/
.env
.env.*
*.DS_Store
*.sqlite3
**/migrations/*
*.idea
**/*.pyc
media/*
fixtures/*
local_json/*
static/tmp_report/*
!static/tmp_report/.gitkeep
**/__pycache__/*
celerybeat-schedule
.log
api.log
logs/